.NumberedPagination__container-pagination * {
  /* border: 1px solid red; */
}

.NumberedPagination__container-pagination {

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 20px;
}

.NumberedPagination__pagination {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.NumberedPagination__pagination-action {

  text-align: center;

  border: 1px solid lightgrey;
  border-radius: 2px;
  color: #2b80e2;;

  padding: 2px 5px;
  margin: 1px;
  min-width: 40px;

  transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: 0.2s;

  cursor: pointer;
}

.NumberedPagination__pagination-action.active {

  background-color:  lightgrey;
}

.NumberedPagination__pagination-action:hover {
   
  background-color: lightgrey;
}
