.AboutPage__container-about-page-header {

  padding: 60px 0px;
 
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;

  background-color: yellow;
  border-bottom: 1px solid black;
}

.AboutPage__container-about-page-content {
  padding: 50px;
}

.AboutPage__container-about-page-content {
  text-align: justify;
}