.RatingsAndReviews__header-separator {

  border-bottom: 1px solid lightgrey;
  margin: 15px 0px;
}

.RatingsAndReviews__container-ratings-header {
  
  border: 1px solid lightgray;
  padding: 20px;
}

.RatingsAndReviews__header {

  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
}

.RatingsAndReviews__pagination {
  margin-top: 20px;
}

.RatingsAndReviews__pagination * {
  color: gray !important
}

.RatingsAndReviews__footer {

  display: flex;
  justify-content: center;
  text-align: center;

  border-radius: 2px;
  padding: 20px;
  border: 1px solid lightgray;
}

.RatingsAndReviews_footer_ico {

  display: flex;
  justify-content: center;
  align-items: center;
}